
@import "../scss/utils/mixin";
@import "../scss/utils/variables";
body{
    font-family: 'Jost', sans-serif;
    .custom-container{
        max-width: 100%;
        padding: 15px 40px;
        background: $white-bg;
    }
}

@media screen and (max-width: 1024px){
    body{
        .custom-container{
            padding: 15px 25px;
        }
    }
    
}

@media screen and (max-width: 520px){
    body{
        .custom-container{
            padding: 15px 40px;
        }
    }
    
}
@media screen and (max-width: 400px){
    body{
        .custom-container{
            padding: 15px 25px;
        }
    }
    
}


@import "../scss/components/navbar";
@import "../scss/components/mainsection";
@import "../scss/components/appartmentcard";


