.main-section{
    padding: 70px 0 20px 12px;
    .section-heading-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        margin-bottom: 20px;
        .section-heading{
            @include font-styling(32px,46.24px);
            margin-bottom: 0px;
        }
        .section-heading-link{
            a{
                @include font-styling(16px, 23.12px);
                @include link-style;
                color: $logo-primary-color;
                letter-spacing: 2%;
            }
            
        }
    }
    .section-content-wrapper{
        .slick-slider{
            .slick-slide{
                // padding: 0 10px;
                padding: 0 6px;
            }
            .slick-arrow{
                width: 35px;
                height: 35px;
                z-index: 1;
                &.slick-next{
                    right:-20px;
                }
                &.slick-prev{
                    left: -20px;
                }
                &:before{
                    font-size:35px;
                    color: black;
                }
            }
        }   
    }
}

@media screen and (max-width : 520px){
    .main-section{
        .section-heading-wrapper{
            .section-heading{
                font-size: 28px;
            }
        }
    }
    
}

@media screen and (max-width : 520px){
    .main-section{
        .section-heading-wrapper{
            .section-heading{
                font-size: 24px;
            }
        }
    }
    
}