.custom-navbar{
    .logo-section{
        flex: 0 0 150px;
        max-width: 150px;
        img{
            width: 100%;
        }
    }
    .custom-nav-collapse{
        flex: 0 0 calc(100% - 150px);
        max-width: calc(100% - 150px);
        justify-content: right;
        .custom-nav-item-container{
            align-items: center;
            .nav-item{
                .nav-link{
                    @include font-styling(16px, 23px);
                    margin:8px 20px;
                    padding:0;
                    cursor: pointer;
                    
                }
                &.log-in-nav-item{
                    .nav-link{
                        @include button-styling;
                        color: $white-font;
                        padding:10px 35px;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
                    }
                    
                }
            }
        }
        .static-hamburger-menu{    
            margin: 0 15px;
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
            cursor: pointer;
            svg{
                path{
                    color: $logo-primary-color;
                }
            }

        }
    }
    
}
@media screen and (min-width:1921px){
    .custom-navbar{
        .logo-section{
            flex: 0 0 200px;
            max-width: 200px;
        }
        .custom-nav-collapse{
            flex: 0 0 calc(100% - 200px);
            max-width: calc(100% - 200px);
            .custom-nav-item-container{
                .nav-item{
                    .nav-link{
                        @include font-styling(19px, 23px);
                        
                    }
                    &.log-in-nav-item{
                        .nav-link{
                            font-size: 19px;
                        }
                        
                    }
                }
            }
            .static-hamburger-menu{    
                margin: 0 15px;
                height: 54px;
                width: 54px;
    
            }
        }
        
    }
}
@media screen and (min-width:2600px){
    .custom-navbar{
        .logo-section{
            flex: 0 0 250px;
            max-width: 250px;
        }
        .custom-nav-collapse{
            flex: 0 0 calc(100% - 250px);
            max-width: calc(100% - 250px);
            .custom-nav-item-container{
                .nav-item{
                    .nav-link{
                        @include font-styling(23px, 23px);
                        
                    }
                    &.log-in-nav-item{
                        .nav-link{
                            font-size: 23px;
                        }
                        
                    }
                }
            }
            .static-hamburger-menu{    
                height: 58px;
                width: 58px;
    
            }
        }
        
    }
}
@media screen and (min-width:3200px){
    .custom-navbar{
        .logo-section{
            flex: 0 0 300px;
            max-width: 300px;
        }
        .custom-nav-collapse{
            flex: 0 0 calc(100% - 300px);
            max-width: calc(100% - 300px);
            .custom-nav-item-container{
                .nav-item{
                    .nav-link{
                        @include font-styling(28px, 23px);
                        
                    }
                    &.log-in-nav-item{
                        .nav-link{
                            font-size: 28px;
                        }
                        
                    }
                }
            }
            .static-hamburger-menu{    
                height: 64px;
                width: 64px;
    
            }
        }
        
    }
}
@media (min-width: 768px) and (max-width: 850px) {
    .custom-navbar{
        .custom-nav-collapse{
            .custom-nav-item-container{
                .nav-item{
                    .nav-link{
                        margin:8px 12px; 
                    }
                }
            }
            .static-hamburger-menu{    
                margin: 0 10px;
    
            }
        }
        
    }
 }
@media (max-width: 767px ){
    .custom-navbar{
        .custom-nav-toggler{
            box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            border: none;
        }
        .custom-nav-collapse{
            flex: 0 0 100%;
            max-width:100%;
            .custom-nav-item-container{
                align-items: stretch;
                .nav-item{
                    text-align: left;
                    border-bottom: 1px solid #9ddce1;
                    .nav-link{
                        margin-left: 0;
                    }
                    &.log-in-nav-item{
                        text-align: center;
                        border: none;
                        .nav-link{
                            margin: 8px auto;
                        }
                    }
                }
            }
            .static-hamburger-menu{
                display: none;
            }
        }
    }
}